[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "first time "
[access "refs/*"]
	owner = group user/saiakula997
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/saiakula997
	label-Verified = -1..+1 group user/saiakula997
	push = group user/saiakula997
	read = group user/saiakula997
	rebase = group user/saiakula997
	removeReviewer = group user/saiakula997
	submit = group user/saiakula997
[access "refs/heads/*"]
	create = group user/saiakula997
	push = +force group user/saiakula997
	pushMerge = group user/saiakula997
	read = group user/saiakula997
[access "refs/tags/*"]
	push = group user/saiakula997
	push = +force group user/saiakula997
